body>div {
    margin-left: 50pt;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    font: inherit;
}

details>p {
    margin-left: 4em;
    width: 60em;
}

details>summary {
    margin-left: 2em;
}

textarea#input, textarea#output {
    /*font-family: "Consolas", monospace;*/
    min-width: 40em;
    width: auto;
    height: 24ex;
}

fieldset {
    border: none;
}

.stepNumber {
    font-size: 200%;
    background-color: lightgray;
    color: white;
    border-radius: 2em;
    display: inline;
    padding: 0 .3em;
    margin-right: .1em;
    vertical-align: middle;
}


.stepNumber.ready {
    background-color: navy;
    color: yellow;
}

.stepNumber.error {
    background-color: red;
}

.stepNumber.success {
    background-color: lime;
}


.stepNumber.error {
    background-color: red;
}

.stepNumber.success {
    background-color: lime;
}

.success.result {
    color: green;
}


.success.result::before {
    content: "✅  ";
}

.error.result {
    color: darkred;
}

.error.result::before {
    content: "❌  ";
}

h2 {
    vertical-align: middle;
}

input#dateField {
    width: 60em;
}
